@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div>
    <h1>INDEX</h1>
    <label>Nhập a: </label>
    <input type="text" name="txta" value=""/><br />
    <label>Nhập b: </label>
    <input type="text" name="txtb" value="" /><br />
    <input type="radio" id="cong" name="phepTinh" value="+">
    <label for="cong">Cộng</label>
    <input type="radio" id="tru" name="phepTinh" value="-">
    <label for="tru">Trừ</label>
    <input type="radio" id="nhan" name="phepTinh" value="*">
    <label for="nhan">Nhân</label>
    <input type="radio" id="chia" name="phepTinh" value="*">
    <label for="chia">Chia</label><br />
    <button>calculate</button>
</div>  