@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1>INDEX</h1>
    <label>Nhập a: </label>
    <label>Nhập b: </label>
    <input type="text" name="txta" />
    <input type="text" name="txtb" />
    <input type="radio" id="cong" name="phepTinh" value="+">
    <label for="cong">Cộng</label><br>
    <input type="radio" id="tru" name="phepTinh" value="-">
    <label for="tru">Trừ</label><br>
    <input type="radio" id="nhan" name="phepTinh" value="*">
    <label for="nhan">Nhân</label><br>
    <input type="radio" id="chia" name="phepTinh" value="*">
    <label for="chia">Chia</label><br><br>
    <button>calculate</button>
</div>