@{
    ViewBag.Title = "Home Page";
}

<table>
    <tr>
        <td colspan="3"><h1>TÍNH TIỀN ĐIỆN</h1></td>
    </tr>
    <tr>
        <td>Tên chủ hộ:</td>
        <td><input type="text" name="name" value="" /></td>
        <td><input type="checkbox" />Hộ ưu tiên</td>
    </tr>
    <tr>
        <td>Loại tiêu thụ:</td>
        <td colspan="2">
            <select name="loaiDien">
                <option value="Sinh hoat">Sinh hoạt</option>
                <option value="Hộ gia đình">Hộ gia đình</option>
                <option value="Kinh doanh">Kinh doanh</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>Chỉ số cũ:</td>
        <td colspan="2"><input type="text" name="soCu" /></td>
    </tr>
    <tr>
        <td>Chỉ số mới:</td>
        <td colspan="2"><input type="text" name="soMoi" /></td>
    </tr>
    <tr
</table>